<a href="https://colab.research.google.com/github/lyeslehara1996/PFE/blob/main/Essay_correction_Prof.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install np_utils

Collecting np_utils
  Downloading https://files.pythonhosted.org/packages/b6/18/5704a782fd72727a9e63198fcc76fadb86975f45bcdf579c10f668329508/np_utils-0.5.12.1.tar.gz (61kB)
     |████████████████████████████████| 61kB 2.2MB/s
Requirement already satisfied: numpy>=1.0 in /usr/local/lib/python3.7/dist-packages (from np_utils) (1.19.5)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.7/dist-packages (from np_utils) (0.16.0)
Building wheels for collected packages: np-utils
  Building wheel for np-utils (setup.py) ... done
  Created wheel for np-utils: filename=np_utils-0.5.12.1-cp37-none-any.whl size=57133 sha256=6ead89dfecc3b51b068861871cd918f68dd1d240fd259caf7ef44440f7c552a1
  Stored in directory: /root/.cache/pip/wheels/92/4b/81/206efd0d01330a96f3aebe5021d2d5f0b264b7ade827c306ef
Successfully built np-utils
Installing collected packages: np-utils
Successfully installed np-utils-0.5.12.1

In [3]:
#declaration des module 

import pandas as pd 
import re 
import nltk

import matplotlib.pyplot as plt
from sklearn.preprocessing  import MinMaxScaler
import numpy as np
from keras.layers import Dropout

from sklearn.preprocessing import LabelBinarizer
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.tokenize.toktok import ToktokTokenizer
from keras.preprocessing.text import Tokenizer
from nltk.tokenize import TweetTokenizer
from nltk import FreqDist
import string as st
SAVEd = False

from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split

from nltk.corpus import stopwords
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix,classification_report
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [4]:
from keras.utils.np_utils import to_categorical

In [5]:
df=pd.read_excel('/content/SemEval2017.xlsx')

netoyage de dataset

In [6]:
df.drop("Unnamed: 3", axis=1, inplace=True)
df.drop("Unnamed: 4", axis=1, inplace=True)
df.drop("Unnamed: 5", axis=1, inplace=True)
df.drop("Unnamed: 6", axis=1, inplace=True)
df.drop("Unnamed: 7", axis=1, inplace=True)
df.drop("Unnamed: 8", axis=1, inplace=True)
df.drop("Unnamed: 9", axis=1, inplace=True)
df.drop("Unnamed: 10", axis=1, inplace=True)
df.drop("Unnamed: 11", axis=1, inplace=True)
df.drop("Unnamed: 12", axis=1, inplace=True)
df.drop("Unnamed: 13", axis=1, inplace=True)
df.drop("Unnamed: 14", axis=1, inplace=True)
df.drop("Unnamed: 15", axis=1, inplace=True)
df.head()

                   id  ...                                           Comments
0  619950566786113024  ...  Picturehouse's, Pink Floyd's, 'Roger Waters: T...
1  619969366986235008  ...  Order Go Set a Watchman in store or through ou...
2  619971047195044992  ...  If these runway renovations at the airport pre...
3  619974445185302016  ...  If you could ask an onstage interview question...
4  619987808317406976  ...  A portion of book sales from our Harper Lee/Go...

[5 rows x 3 columns]

**Prétraitement**

transformer les mots en miniscule

In [7]:
df_clean = df
df_clean.Comments=df_clean.Comments.str.lower()
df_clean.head()

                   id  ...                                           Comments
0  619950566786113024  ...  picturehouse's, pink floyd's, 'roger waters: t...
1  619969366986235008  ...  order go set a watchman in store or through ou...
2  619971047195044992  ...  if these runway renovations at the airport pre...
3  619974445185302016  ...  if you could ask an onstage interview question...
4  619987808317406976  ...  a portion of book sales from our harper lee/go...

[5 rows x 3 columns]

Suppression de tout les symbole

In [8]:
df_clean['Comments'] = df_clean['Comments'].apply(lambda x: re.sub(r'https?:\/\/\S+', ' ', str(x)))
df_clean['Comments'] = df_clean['Comments'].apply(lambda x: re.sub(r"www\.[a-z]?\.?(com)+|[a-z]+\.(com)", ' ', x))
df_clean['Comments'] = df_clean['Comments'].apply(lambda x: re.sub(r'{link}', ' ', x))
df_clean['Comments'] = df_clean['Comments'].apply(lambda x: re.sub(r'&[a-z]+;', ' ', str(x)))
df_clean['Comments'] = df_clean['Comments'].apply(lambda x: re.sub(r"[^a-z]", ' ', str(x)))
df_clean['Comments'] = df_clean['Comments'].apply(lambda x: re.sub(r'@mention', ' ', x))
df_clean['Comments'] = df_clean['Comments'].apply(lambda x: " ".join(x.lower() for x in str(x).split()  if len(x)>2 ))
df_clean

                       id  ...                                           Comments
0      619950566786113024  ...  picturehouse pink floyd roger waters the walll...
1      619969366986235008  ...  order set watchman store through our website b...
2      619971047195044992  ...  these runway renovations the airport prevent f...
3      619974445185302016  ...  you could ask onstage interview question miss ...
4      619987808317406976  ...  portion book sales from our harper lee set wat...
...                   ...  ...                                                ...
20628  681877834982232064  ...  shaquillehoneal from what think you asking ord...
20629  681879579129200000  ...  iran ranks liver surgeries allah bless the cou...
20630  681883903259357056  ...  hours before arrived saudi arabia tuesday turk...
20631  681904976860327040  ...  vanityfair alex kim kardashian worth how love ...
20632  681910549211287040  ...  guess even pandora knows justin bieber grown t...

[20633 rows x 3 columns]

In [9]:
df_clean['polariy'] = df_clean['polariy'].apply(lambda x: re.sub(r'https?:\/\/\S+><', ' ', str(x)))
df_clean['polariy']

0         neutral
1         neutral
2        negative
3         neutral
4        positive
           ...
20628     neutral
20629    positive
20630     neutral
20631    negative
20632     neutral
Name: polariy, Length: 20633, dtype: object

In [10]:
#Tokenization of text
tokenizer=ToktokTokenizer()
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

In [11]:
stop=set(stopwords.words('english'))
print(stop)

#removing the stopwords
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text
#Apply function on review column
df_clean['Comments']=df_clean['Comments'].apply(remove_stopwords)

{'an', 'mightn', 'you', 'very', 'and', 'theirs', 'wasn', 'his', 'having', "wasn't", "you'd", 'm', 'or', 's', 'only', "won't", 'is', 'into', 'their', 'was', 'against', 'to', "hadn't", 'through', "didn't", 'him', 'up', 'most', "should've", "weren't", 'doing', 'nor', 'hasn', 'with', 'needn', 'once', 'themselves', 'off', 'again', 'did', 'above', 'ourselves', "wouldn't", 'should', 'yourself', 'here', 'y', 'its', 'such', 'the', 'aren', 'hadn', 'mustn', 'when', 'some', "it's", 'not', 'himself', 'ours', 'too', "shan't", 'about', 'than', 'will', 'so', "she's", 'during', 'any', 'these', 'ma', 'were', 'my', 'being', "shouldn't", 'which', 'them', 'other', 'because', 'between', 'few', "mustn't", 'after', 'does', 'herself', 'this', 'who', "aren't", 'those', "you've", 'yourselves', 'as', 'there', 'all', 'just', 'hers', 'don', 'be', 'for', 'have', 'a', 'below', "couldn't", 'at', 'won', 'isn', 'down', 'our', 'by', 'if', "isn't", 'whom', 'he', 'in', 'd', "needn't", 'where', 'we', 'same', 'shouldn', 'myself', 'no', 'am', 'yours', 'i', 'itself', 'what', 'ain', 'doesn', 'they', 'o', 're', 'but', 'that', 'me', 'under', 'both', 'are', 'on', 'then', 'each', 'further', 'it', 'couldn', "haven't", "doesn't", 'of', 'out', 'wouldn', 'from', 'had', 'can', 'she', "don't", 'been', 'has', 've', 'over', 'while', 'how', "hasn't", 'more', 'now', 'didn', 't', "that'll", 'll', 'why', 'own', 'weren', "you'll", 'do', 'until', 'haven', "mightn't", 'before', 'your', 'her', "you're", 'shan'}

In [12]:
reviews =  df_clean[['Comments']]
labels =  df_clean[['polariy']]
reviews

                                                Comments
0      picturehouse pink floyd roger waters walll ope...
1      order set watchman store website tuesday get h...
2      runway renovations airport prevent seeing tayl...
3      could ask onstage interview question miss usa ...
4      portion book sales harper lee set watchman rel...
...                                                  ...
20628  shaquillehoneal think asking order future drak...
20629     iran ranks liver surgeries allah bless country
20630  hours arrived saudi arabia tuesday turkish pre...
20631  vanityfair alex kim kardashian worth love kim ...
20632  guess even pandora knows justin bieber grown c...

[20633 rows x 1 columns]

In [14]:
labels

        polariy
0       neutral
1       neutral
2      negative
3       neutral
4      positive
...         ...
20628   neutral
20629  positive
20630   neutral
20631  negative
20632   neutral

[20633 rows x 1 columns]

In [19]:
revue_sans_ponctuation=[]

for sentence in reviews['Comments']:
    revue_sans_ponctuation.append(' '.join(Word.strip(st.punctuation) for Word in sentence.split()))

In [20]:
reviews_cleaned = np.asarray(revue_sans_ponctuation)
reviews_cleaned

array(['picturehouse pink floyd roger waters walll opening sept making waves watch trailer rolling stone look',
       'order set watchman store website tuesday get half price gsaw gsawatchmanbook',
       'runway renovations airport prevent seeing taylor swift monday bad blood new meaning',
       ...,
       'hours arrived saudi arabia tuesday turkish president recep tayyip erdogan accused syria president mercilessly',
       'vanityfair alex kim kardashian worth love kim kardashian bad sun conure',
       'guess even pandora knows justin bieber grown condom played'],
      dtype='<U125')

In [21]:
review_array = np.asarray(reviews)
label_array = np.asarray(labels)

reviews_labels = np.stack((review_array, label_array), axis = 1)

In [22]:
list_index=[]

for i, text in enumerate(reviews_labels[:,0:1]):
    if(text == "\n"):
        list_index.append(i)

reviews_labels = np.delete(reviews_labels, list_index, axis=0)
reviews_labels

array([[['picturehouse pink floyd roger waters walll opening sept making waves watch trailer rolling stone look'],
        ['neutral']],

       [['order set watchman store website tuesday get half price gsaw gsawatchmanbook'],
        ['neutral']],

       [['runway renovations airport prevent seeing taylor swift monday bad blood new meaning'],
        ['negative']],

       ...,

       [['hours arrived saudi arabia tuesday turkish president recep tayyip erdogan accused syria president mercilessly'],
        ['neutral']],

       [['vanityfair alex kim kardashian worth love kim kardashian bad sun conure'],
        ['negative']],

       [['guess even pandora knows justin bieber grown condom played'],
        ['neutral']]], dtype=object)

In [23]:
encoder = LabelEncoder()
encoder.fit(label_array)
encoded_labels = encoder.transform(label_array)
encoded_labels = to_categorical(encoded_labels)
encoded_labels

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       ...,
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]], dtype=float32)

In [51]:
review_train, review_test, label_train, label_test = train_test_split(reviews, encoded_labels,test_size=0.2, train_size=0.8, random_state=42)

print(review_train.shape, label_train.shape)
print(review_test.shape, label_test.shape)
review_train

(16506, 1) (16506, 4)
(4127, 1) (4127, 4)

                                                Comments
4322           august still frank ocean album terror end
2271   erix want dunkin donuts breakfast may get tomo...
8271   hey guys kris bryant hit homer season needs do...
18223  red hot comedian amy schumer bring first solo ...
9382   white sox look like playing local park saturda...
...                                                  ...
11284  know eyes could handle match big fucker may go...
11964  ahmed muz think ready yet kane jie son chadli ...
5390   dustin johnson leading early tourny means plen...
860    july national ice cream day answer following j...
15795  get players like tom brady julian edelman roun...

[16506 rows x 1 columns]

In [52]:
tokenizer = Tokenizer(num_words=4000)
tokenizer.fit_on_texts(review_train.Comments)

review_train = tokenizer.texts_to_sequences(review_train.Comments)
review_test = tokenizer.texts_to_sequences(review_test.Comments)

vocab_size = len(tokenizer.word_index) + 1

maxlen = 100

review_train = pad_sequences(review_train, padding='post', maxlen=maxlen)
review_test = pad_sequences(review_test, padding='post', maxlen=maxlen)

In [53]:
review_test

array([[353, 227, 561, ...,   0,   0,   0],
       [741, 538,  24, ...,   0,   0,   0],
       [294, 347,   4, ...,   0,   0,   0],
       ...,
       [  1, 723, 135, ...,   0,   0,   0],
       [156, 163, 674, ...,   0,   0,   0],
       [114, 871, 786, ...,   0,   0,   0]], dtype=int32)

In [54]:

model = Sequential()

model.add(LSTM(units=50, return_sequences=True, input_shape=(maxlen,3)))
model.add(Dropout(0.2))

model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))

model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [57]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 100, 50)           10800
_________________________________________________________________
dropout (Dropout)            (None, 100, 50)           0
_________________________________________________________________
lstm_1 (LSTM)                (None, 100, 50)           20200
_________________________________________________________________
dropout_1 (Dropout)          (None, 100, 50)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 100, 50)           20200
_________________________________________________________________
dropout_2 (Dropout)          (None, 100, 50)           0
=================================================================
Total params: 51,200
Trainable params: 51,200
Non-trainable params: 0
_________________________________________________________________
None

In [56]:
history=model.fit(review_train, label_train,batch_size=128, epochs=10, verbose=1,validation_data=(review_test, label_test))

Epoch 1/10

ValueError: ignored